@charset "UTF-8";

/*######################################################################################################################
                                            Anpassungen Bootstrap - navbar
######################################################################################################################*/

.navbar{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

ul.dropdown-menu{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.176);
}

.nav-tabs a{
    outline: none;
}

/*######################################################################################################################
                                            Anpassungen Bootstrap - page header
######################################################################################################################*/

.page-header {
    margin-top: 0px;
}

/*######################################################################################################################
                                            Anpassungen Bootstrap - form
######################################################################################################################*/
/*
form label{
    margin: 3px 0 0 0;
}

.form-group {
    margin-bottom: 1px;
}
*/