@charset "UTF-8";

/*######################################################################################################################
                                          General additions to bootstrap css
######################################################################################################################*/

.full-width{
    min-width: 100% !important;
}

/*######################################################################################################################
                                            Addditions Bootstrap - navbar
######################################################################################################################*/

.navbar{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

ul.dropdown-menu{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.176);
}

.nav-tabs a{
    outline: none;
}

/*######################################################################################################################
                                            Addditions Bootstrap - page header
######################################################################################################################*/

.page-header {
    margin-top: 0px;
}

/*######################################################################################################################
                                            Addditions Bootstrap - input groups
######################################################################################################################*/

.input-group-addon-width {
    width: 150px;
    text-align: left;
}

/*######################################################################################################################
                                            Highlighting of searchstrings
######################################################################################################################*/

span.search-highlight {
    background: yellow;
    font-weight: bold;
}